apiVersion: v1
kind: Service
metadata:
  name: postgres
  labels:
    app: postgres
    tags.datadoghq.com/env: "dev"
    tags.datadoghq.com/service: "postgres"
spec:
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
    name: postgres
  clusterIP: None  # Headless service for StatefulSet
  selector:
    app: postgres
